/***********************************************************************************************************************
Defaults 
***********************************************************************************************************************/
body, ul, li {
    background-color:   #1d252f;
    font-family:        "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:          13px;
    margin:             0px;
    padding:            0px;
}
table {
    border-collapse:    collapse;
    width:              100%;
}
thead th {
    background-color:   #aaa;
    border-bottom:      solid 2px #888;
    color:              #111;
    font-size:          16px;
    padding:            8px 28px;
}
td, th {
    border-bottom:      1px #ddd dotted;
    color:              #555;
    font-size:          14px;
    font-weight:        normal;
    padding:            6px 28px;
    text-align:         left;
}
thead th:first-child, th:first-child, td:first-child {
    padding-left:       8px;
}
thead th:last-child, th:last-child, td:last-child {
    padding-right:      8px;
}
tbody tr:last-child td, tbody tr:last-child th {
    border-bottom:      0;
}
tbody tr:hover td, tbody tr:hover th {
    background-color:   #fff0cb !important;
    border-top:         1px solid #f2b533;
    border-bottom:      1px solid #f2b533;
}
tfoot td, tfoot th {
    padding:            4px 28px;
} 
a {
    text-decoration:    none;
}
/***********************************************************************************************************************
 UI Elements                                
***********************************************************************************************************************/
.button {
    cursor:             pointer;
    background-color:   #dd4a36;
    border:             1px solid #bd3b2b;
    border-radius:      3px;
    box-shadow:         inset 1px 1px 0 #eb6050;
    padding:            8px 16px; 
}
.button:hover {
    background-color:   #d14c3a;
    border-top:         1px solid rgba(150, 45, 32, 0.6);
    border-right:       1px solid rgba(150, 45, 32, 0.6);
    border-bottom:      1px solid rgba(150, 45, 32, 0.6);
    border-left:        1px solid rgba(150, 45, 32, 0.6);
    box-shadow:         inset 1px 1px 0 rgba(235, 96, 80, 0.8);
    padding:            9px 16px 7px 16px;
}
.button:active {
    background-color:   #c44736;
    border-left:        1px solid rgba(150, 45, 32, 0.9);
    box-shadow:         inset 1px 2px 0 rgba(235, 96, 80, 0.6);
    padding:            10px 16px 6px;
}
.button.inline {
    border-radius:      2px;
    padding:            4px 10px 5px;
}
.button.inline:hover {
    padding:            5px 10px 4px 10px;
}
.button.inline:active {
    padding:            6px 10px 3px 10px;
}
.button.inline span {
    font-size:          11px;
}
.button.suggestion {
    background-color:   #2b955d;
    border-color:       rgba(26, 91, 57, 0.5);
    box-shadow:         inset 1px 1px 0 rgba(140, 216,109, 0.2);
}
.button.suggestion span {
    text-shadow:        rgba(18, 64, 40, 0.6) 0px -1px 0px;
}
.button.option {
    background-color:   #d77f40;
    border-color:       #d8742d;
    box-shadow:         inset 1px 1px 0 #e09057;
}
.button.option span {
    text-shadow:        #8a6850 0px -1px 0px;
}
.button.context {
    overflow:           hidden;
    position:           absolute;
    whitespace:         nowrap;
    z-index:            9999;
}
.button.context span {
    whitespace:         nowrap;
    text-overflow:      hidden;
}
.button span {
    color:              #fff;
    font-size:          12px;
    font-weight:        bold;
    letter-spacing:     0.07em;
    text-shadow:        #9f2f22 0px -1px 0px;
    text-transform:     uppercase;
}
.button img {
    height:             12px;
}
.button img.complement-icon {
    height:             6px;
}
.button img.leading-icon {
    margin-right:       6px;
    margin-bottom:      -2px;
}
.button-wrapper {
    background-color:   rgba(0, 0, 0, 0.1);
    border-radius:      5px;
    border:             1px solid rgba(0, 0, 0, 0.2);
    padding:            4px;
}
.button-divider {
    background-color:   #a49883;
    border-right:       1px solid rgba(240, 240, 240, 0.3);
    float:              right;
    height:             28px;
    margin:             0 6px;
    width:              2px;
}
.button-concept {
    border-bottom:      1px dotted rgba(250, 250, 250, 0.8);
    cursor:             help;
}
.striped tr:nth-child(odd) td,
.striped tr:nth-child(odd) th {
    background-color:   #f1f1f1;
}
/***********************************************************************************************************************
 Administration template 
***********************************************************************************************************************/
#actions {
    background-color:   #f0f0f0;
    height:             27px;
}
.navigation {
    float:              left;
}
.nav-item {
    background-color:   #fff;
    border-right:       1px solid #888;
    color:              #928083;
    cursor:             pointer;
    display:            inline;
    float:              left;
    font-size:          13px;
    list-style:         none;
    padding:            6px 10px;
}
.nav-item:hover {
    box-shadow:         inset 0px 1px 1px #bfa9a9;
}
.nav-item.selected {
    box-shadow:         inset 0px 1px 1px #bfa9a9;
    cursor:             default;
    color:              #d77f40;
    padding-bottom:     5px;
    padding-top:        7px;
}
.nav-item img {
    height:             12px;
}
.sub-menu {
    background-color:   #fff;
    color:              #928083;
    display:            none;
    list-style:         none;
    padding:            0;
    position:           absolute;
}
#actions .access {
    float:              right;
    font-size:          11px;
    margin-top:         5px;
}
#actions .access div {
    color:              #3a424b;
    float:              left;
    padding:            4px 8px;
}
#actions .access div:first-child {
    border-right:       1px solid #bfa9a9;
}
#actions .access div:last-child {
    text-decoration:    underline;
    cursor:             pointer;
}
.user-concept {
    border-bottom:      1px dotted #3a424b; 
    cursor:             help;
}
#actions .domain {
    height:             38px;
    position:           absolute;
    right:              8px;
    top:                27px;
} 
#actions .domain .button-wrapper {
    float:              left;
}
#content-add.button {
    float:              right;
    padding:            6px 8px 4px;
}
#content-add.button:hover {
    padding:            7px 8px 3px;
}
#content-search {
    float:              left;
}
#content-search input {
    background:         #fff url("/images/form/search.png") right center no-repeat;
    background-origin:  content-box;
    border:             1px solid rgba(0, 0, 0, 0.4);
    border-radius:      3px;
    box-shadow:         inset 0px 0px 3px #928083;
    height:             26px;
    padding:            0 6px;
    width:              180px;
}
